<div class="p-grid p-fluid">

  <p-card header="Simple Card">
    <ng-template pTemplate="header">
      teste
    </ng-template>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
    </p>
    <input type="text" pInputText />
    <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
  </p-card>

</div>

<router-outlet></router-outlet>
